
@font-face{
    font-family: 'Sunday Sunshine';
    src: url(SundaySunshine.otf);
}


.Navigationbar{
    height:150px;
    background-color: rgb(2, 73, 80);
    
    
}
.logo {
    height: 100px; /* Измени размер */
    width: auto;
    position: absolute;
    top: 15px;
    left: 2px;
}
h2{
    
    color:rgb(175, 221, 229);
    font-family: 'Sunday Sunshine';
    font-size: 55;
    padding-left:110px;
    padding-top:30px;
}

    nav{
    background-color: rgb(15, 164, 175);
    height:30px;
    padding-top:9px;
    display:flex;
    justify-content:space-around;
    
}
a{
    text-decoration: none;
    color:rgb(7, 5, 5);
    font-weight: bold;
    font-size: 30;
    font-family: 'Sunday Sunshine';
}
.Picture1 img{
    width: 100%;
    margin-top:20
}

h3{
    color:rgb(8, 8, 8);
    font-family: 'Arial', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: center;
    padding-top:15px;
}
.Picture2andtext p{
    
    font-family: 'Arial', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 14;
    padding-left:40px;
    padding-right:40px;
}
.Picture2andtext img{
    width: 100%;
}
.logofooter{
    height: 100px; 
    width: auto;
    position: absolute;
    
}
.card{

    font-family: 'Sunday Sunshine';

    background-color: #f4f4f4;
    border: 1px solid  lightgrey;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1);
}
.card img {
width: 100%;
height:200px;
object-fit: cover;
}
.card h3 {
font-size:30 ;
font-family: 'Sunday Sunshine';
margin: 0;
padding: 1rem;
background-color: #003135;
color: white;
}
.card p {
padding: 1rem;
margin: 0;
}
.Countrycards{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 1rem;
padding: 1rem;
}
.about{

    display: flex;
    justify-content: space-around;
    
}
.elena{
    
    width:50%;

}
.Picture2andtext{
    align-content: center;
    width: 50%;
}
.elena img{
    background-size: cover;
    width:100%;
    height: 80%;
    border: 1px solid transparent;
    border-radius: 20px;
}
.map{
    width: 100%;
}
.button {
background-color: #4CAF50; /* Зеленый */
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}


.button1 {
margin-left:40px;
background-color:rgb(15, 164, 175);
color: rgb(175, 221, 229);
border: 3px solid #4CAF50;
border-radius: 20px;
}

    .button1:hover {
    background-color: #4CAF50;
    color: white;
    }
    @import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
--start-color: #0575E6;
--end-color: #021B79;
--p-color: #929DA6;
--button-background: #0575E6;
--input-background: #e4eff8;
--radius-50: 50px;
--padding-15: 15px;
}


.wrapper {
width: 100%;
height: 60%;
display: flex;
justify-content: center;
align-items: center;
}

.wrapper .content {
background: #fff;
padding: 40px;
width: 100%;
max-width: 500px;
min-width: 200px;
border-radius: 10px;
text-align: center;
}

.wrapper .content header h1 {
font-size: 230%;
margin-top: 0;
}
.wrapper .content section {
color: var(--p-color);
font-size: 15px;
}
.wrapper .content footer {
padding: var(--padding-15);
}
.wrapper .content footer input {
border: unset;
background-color: var(--input-background);
padding: var(--padding-15);
font-size: 13px;
border-radius: var(--radius-50);
width: 250px;
}
.wrapper .content footer button {
background-color: var(--button-background);
color: #fff;
border: unset;
width: 120px;
border-radius: var(--radius-50);
padding: var(--padding-15);
margin-left: 10px;
cursor: pointer;
}

.wrapper .content footer input:focus, .wrapper .content footer button:focus {
outline: none;
}

@media screen and (max-width: 720px) {
.wrapper .content {
margin-right: 20px !important;
margin-left: 20px !important;
padding: var(--padding-15);
}
.wrapper .content footer input {
width: 200px;
margin-bottom: 10px;
}
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #24262b;
padding: 70px 0;
}
.footer-col{
width: 20%;
padding: 0 15px;
font-family: "Sunday Sunshine";
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: rgb(15, 164, 175);
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
width: 50%;
margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
width: 100%;
}
}